<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="section-summary">
                <h1>Welcome to Pisces!</h1>
                <h3>You've just entered your one-stop shop to tropical fish paradise</h3>
                <p>We're here to help you succeed in all-things aquarium and tropical fish. Whether it's help picking the best tools for the job, support for pesky problems, or simply a knowledgeable supplier to keep your fishy friends happy and healthy, we've got you covered!</p>
            </div>
            <div class="section-summary">
                <h1><a href="#/shop/">Visit our Store</a></h1>
                <h3>Everything you need, all in one place</h3>
                <p>Our inventory is as diverse as it is well researched and expertly supported by our employees and the community of enthusiastic aqurists we've gathered around us. You need it, we got it!</p>
                <p>First time customers receive free shipping and a 15% discount on their first orders. Got a vision of your dream aquarium? Let us help you do it right the first time!</p>
            </div>
            <div class="section-summary">
                <h1><a href="#/guides/">Need Some Guidance?</a></h1>
                <h3>Everything you need to know and more!</h3>
                <p>There's lots to learn, but don't let that stop you. We've put together detailed guides on all the basics so you can <a href="/#guides/getting-started">get started</a> on the right foot. And if you're hungry for more knowledge, we have an entire collection of more advanced topics to help build your personal expertise.</p>
            </div>
            <div class="section-summary">
                <h1>Read our Blog</h1>
                <h3>New posts yay</h3>
            </div>
            <div class="section-summary">
                <h1>Who Are We?</h1>
                <h3>crazy fish people</h3>
            </div>
            <div class="section-summary">
                <h1>Donate</h1>
                <h3>help protect our planet</h3>
            </div>
        </div>
    </div>
</div>