input{
    width: 100%;
    margin-bottom: 5px;
}

.panel-heading{
    text-align: center;
}

.btn{
    margin-top: 10px;
}

.panel-body{
    position: relative;
}

.edit-btn, .save-btn{
    position: absolute;
    right: 15px;
    top: 10px;
}

.delete-btn{
    position: absolute;
    right: 55px;
    top: 10px;
}

.strike{
    text-decoration: line-through;
}