<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h1>South Carolina</h1>
            <article ng-bind-html="about">
<!--
                <p>South Carolina is a state in the southeastern region of the United States. The state is bordered to the north by North Carolina, to the south and west by Georgia across the Savannah River, and to the east by the Atlantic Ocean.</p>

                <p>South Carolina was the first state to ratify the Articles of Confederation and the eighth state to ratify the U.S. Constitution on May 23, 1788. South Carolina became the first state to vote to secede from the Union on December 20, 1860. After the American Civil War, it was readmitted into the United States on June 25, 1868.</p>

                <p>South Carolina is the 40th most extensive and the 23rd most populous U.S. state. Its GDP as of 2013 was $183.6 billion, with an annual growth rate of 3.13%. South Carolina comprises 46 counties. The capital and largest city is Columbia with a 2013 population of 133,358; the Greenville-Anderson-Mauldin metropolitan area had a 2013 population of 850,965.</p>
-->
            </article>
        </div>
        <mike-the-mink></mike-the-mink>
    </div>
</div>