
input {
    display: inline;
    width: 100%;
}

.radio-button {
    display: inline;
}

td img {
    width: 100%;
}

.navbar-right{
    margin-right: 5px;
}

td {
    position: relative;
    text-align: center;
    padding: 5px;
}

td p{
    position: absolute;
    z-index: 10;
    bottom: -5px;
    color: white;
    font-size: 12px;
    background-color: rgba(25, 200, 35, 0.5);
    padding-right: 3px;
}

table {
    margin-top: 100px;
}

.meal-plan-description {
    margin-top: 150px;
    text-align: center;
}

.landing-page {
    text-align: center;
}