.page-header{
    text-align: center;
}

.page-img{
    max-width: 30%;
    float: left;
}

.title{
    text-align: center;
}

.list-header{
    text-align: center;
}

.score{
    text-align: center;
}