<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="main">

    <div class="container">
        <div ng-repeat="item in data track by $index">
            <div class="row item">
                <div class="col-xs-6 col-xs-offset-2 header">
                    <button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="collapse" href="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}">{{item.title}}</button>
                    <div id="collapse{{$index}}" class="collapse in">
                        <h4 ng-hide="editing">Description: {{item.description}}</h4>
                        <h4 ng-show="item.price" ng-hide="editing">Price: ${{item.price}}</h4>
                        
                        <label ng-show="editing">Title: </label>
                        <input type="text" ng-model="item.title" ng-show="editing">
                        <label ng-show="editing">Description: </label>
                        <input type="text" ng-model="item.description" ng-show="editing">
                        <label ng-show="editing">Price: </label>
                        <input type="number" ng-model="item.price" ng-show="editing">
                        
                        <div class="tollbar pull-right">
                            <button id="delete" ng-click="deleteItem()"><span class="glyphicon glyphicon-remove"></span></button>
                            <button id="edit" ng-click="editing = !editing"><span class="glyphicon glyphicon-edit"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 checkbox">
                    <button class="btn btn-lg btn-block">Done</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>