<div class="container landing-page">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h1>Welcome to Food Assist</h1>
            <h3>Quickly generate weekly meal plans specifically caters to your personal nutritional needs</h3>
            <h4>No muss, no fuss, a balanced plan in the blink of an eye!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h3>Let's Get Started</h3>
            <a class="btn btn-lg btn-block btn-primary" href="#/signup">Sign Up</a>
            <a class="btn btn-lg btn-block btn-success" href="#/login">Log In</a>
        </div>
    </div>
</div>