<div class="contrainer">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form>
                <h3>Log In</h3>
                <div class="control-group">
                    <label for="username">User Name: </label>
                    <input id="username" class="form-control" type="text" placeholder="User Name" ng-model="user.username">
                </div>
                <div class="control-group">
                    <label for="password">Password: </label>
                    <input class="form-control" type="password" placeholder="Password" ng-model="user.password">
                </div>
                <br>
                <button class="btn btn-block btn-primary" ng-click="login(user)">Log In</button>
                <p ng-if="alert">{{ alert }}</p>
            </form>
        </div>
    </div>
</div>