<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <div class="family-member" ng-repeat="member in family">
                <form>
                   
                    <div ng-show="editing" class="form-group">
                        <label for="sex">Sex</label>
                        <br>
                        <label class="form-check-inline">
                            <input type="radio" class="form-check-input" name="sex" id="sex-male" value="male" ng-model="member.sex" > Male
                        </label>
                        <label class="form-check-inline">
                            <input type="radio" class="form-check-input" name="sex" id="sex-female" value="female" ng-model="member.sex"> Female
                        </label>
                    </div>
                    <div ng-hide="editing" class="form-group">
                        <label for="sex">Sex</label>
                        <br>
                        <label class="form-check-inline">
                            <input type="radio" class="form-check-input" name="sex" id="sex-male" value="male" ng-model="member.sex" disabled> Male
                        </label>
                        <label class="form-check-inline">
                            <input type="radio" class="form-check-input" name="sex" id="sex-female" value="female" ng-model="member.sex" disabled> Female
                        </label>
                    </div>
                    
                    <div ng-show="editing" class="form-group">
                        <label for="age">Age</label>
                        <input ng-model="member.age" type="number" class="form-control" id="age" placeholder="Age">
                    </div>
                    <div ng-hide="editing" class="form-group">
                        <label for="age">Age</label>
                        <input ng-model="member.age" type="number" class="form-control" id="age" placeholder="Age" readonly>
                    </div>
                    
                    <div ng-show="editing" class="form-group">
                        <label for="height">Height</label>
                        <div class="input-group">
                            <input ng-model="member.height" type="number" class="form-control" id="height" placeholder="Height">
                            <div class="input-group-addon">in</div>
                        </div>
                    </div>
                    <div ng-hide="editing" class="form-group">
                        <label for="height">Height</label>
                        <div class="input-group">
                            <input ng-model="member.height" type="number" class="form-control" id="height" placeholder="Height" readonly>
                            <div class="input-group-addon">in</div>
                        </div>
                    </div>
                    
                    <div ng-show="editing" class="form-group">
                        <label for="weight">Weight</label>
                        <div class="input-group">
                            <input ng-model="member.weight" type="number" class="form-control" id="weight" placeholder="Weight">
                            <div class="input-group-addon">lbs</div>
                        </div>
                    </div>
                    <div ng-hide="editing" class="form-group">
                        <label for="weight">Weight</label>
                        <div class="input-group">
                            <input ng-model="member.weight" type="number" class="form-control" id="weight" placeholder="Weight" readonly>
                            <div class="input-group-addon">lbs</div>
                        </div>
                    </div>
                    
                    <div ng-show="editing" class="form-group">
                        <label for="physical-activity">Physical Activity</label>
                        <select ng-model="member.physicalActivity" class="form-control" id="physical-activity">
                            <option>Sedentary</option>
                            <option>Low Active</option>
                            <option>Active</option>
                            <option>Very Active</option>
                        </select>
                    </div>
                    <div ng-hide="editing" class="form-group">
                        <label for="physical-activity">Physical Activity</label>
                        <select ng-model="member.physicalActivity" class="form-control" id="physical-activity" readonly>
                            <option>Sedentary</option>
                            <option>Low Active</option>
                            <option>Active</option>
                            <option>Very Active</option>
                        </select>
                    </div>
                    
                    <button ng-hide="editing" type="button" class="btn btn-primary" ng-click="editing = !editing; alert(editing)">Edit</button>
                    <button ng-show="editing" type="button" class="btn btn-primary" ng-click="editing = !editing; updateUser(member)">Save</button>
                </form>
                <h5>Exclusions: </h5>
                <div class="exclude" ng-repeat="item in exclude">
                    <p>{{ item }}</p>
                </div>

                <label for="new-allergy">Exclude an Ingredient</label>
                <input id="new-allergy" type="text" ng-model="newAllergy">
                <button class="btn btn-primary" type="button" ng-click="addExclude(newAllergy)">Add Exclusion</button>

                <button class="btn btn-success" type="button" ng-click="generateMealPlan()">Generate Meal Plan</button>
                <button ng-disabled="!mealPlan" class="btn btn-success" type="button" ng-click="generateShoppingList()">Generate Shopping List</button>
            </div>
        </div>
        <div class="col-xs-10">
           <h4 class="meal-plan-description" ng-if="!mealPlan">Click "Generate Meal Plan" to create a random plan based on a 2000 calorie average or provide some more details about yourself to create a custom plan that fits your needs</h4>
            <table>
                <thead>
                    <tr ng-show="mealPlan">
                        <td></td>
                        <td>Sunday</td>
                        <td>Monday</td>
                        <td>Tuesday</td>
                        <td>Wednesday</td>
                        <td>Thursday</td>
                        <td>Friday</td>
                        <td>Saturday</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-show="mealPlan">Breakfast</td>
                        <td ng-repeat="meal in mealPlan.breakfast">
                            <img src="{{ meal.imageUrl }}" alt="">
                            <p class="meal-description">{{ meal.name }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td ng-show="mealPlan">Lunch</td>
                        <td ng-repeat="meal in mealPlan.lunch">
                            <img src="{{ meal.imageUrl }}" alt="">
                            <p class="meal-description">{{ meal.name }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td ng-show="mealPlan">Dinner</td>
                        <td ng-repeat="meal in mealPlan.dinner">
                            <img src="{{ meal.imageUrl }}" alt="">
                            <p class="meal-description">{{ meal.name }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>